body {
    background-color: #060308;
    padding-top: 128px;
    margin: 8px 25vw; 
    font-family: Helvetica, sans-serif;
    font-family: 'Franklin Gothic Medium';
    color: rgb(255, 255, 255);
  }
  
  img {
    margin:  0px 5vw;
    border-radius: 16px;
    width: 39vw;
  }



  .imgage img {
    transition: 0.1s ease;
    opacity:1;
    }
    
    .imgage img:hover {
    border-radius:32px;
    opacity:0.9;
    transition: 0.1s ease;
    }
    

  h1 {
    margin:  0px 5vw;
    font-size: 1.7vw;
    font-family: monospace, bold;
    background: -webkit-repeating-radial-gradient(top left, circle, #ffffff, #5a526d 1%, #ffffff 2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  

  div {
    display: block;
    color: whitesmoke;
  }


  /* LINKS */
a.nav-link:link
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #ffffff;
   text-decoration: none;
}
a.nav-link:active
{
   color: #ffffff;
   text-decoration: none;
}